{
	"extends": "standard",
	"plugins": ["html"],
	"parser": "babel-eslint",
	"rules": {
		"no-tabs": "off",
		"indent": ["error", "tab"],
		"quotes": [
			"error",
			"double",
			{
				"avoidEscape": true,
				"allowTemplateLiterals": true
			}
		],
		"space-before-function-paren": [0, "never"]
	}
}
